.forecast {
  overflow: auto;
}

.forecast__container {
  margin: 0 auto;
  padding: 30px 0 0;
  width: 880px;
}

.forecast__dayTiles {
  width: 100%;
  display: flex;
}

.chart__temps {
  height: 170px !important;
}

.chart__prob {
  height: 130px !important;
}

.dayTile {
  border-left: 1px solid rgba(208, 208, 208, 0.45);
  text-align: center;
  width: 119px;
}

.dayTile:first-child {
  margin-left: 39px;
  border-left: none;
}

@media (max-width: 425px) {
  .forecast__container {
    width: 660px;
  }

  .dayTile {
    width: 87px;
  }

  .dayTile img {
    width: 75px;
  }
}

.rv-xy-plot {
  color: #c3c3c3;
  position: relative;
}

.rv-xy-plot canvas {
  pointer-events: none;
}

.rv-xy-plot .rv-xy-canvas {
  pointer-events: none;
  position: absolute;
}

.rv-xy-plot__inner {
  display: block;
}

.rv-xy-plot__axis__line {
  fill: none;
  stroke-width: 2px;
  stroke: #e6e6e9;
}

.rv-xy-plot__axis__tick__line {
  stroke: #e6e6e9;
}

.rv-xy-plot__axis__tick__text {
  fill: #6b6b76;
  font-size: 11px;
}

.rv-xy-plot__axis__title text {
  fill: #6b6b76;
  font-size: 11px;
}

.rv-xy-plot__grid-lines__line {
  stroke: #e6e6e9;
}

.rv-xy-plot__circular-grid-lines__line {
  fill-opacity: 0;
  stroke: #e6e6e9;
}

.rv-xy-plot__series,
.rv-xy-plot__series path {
  pointer-events: all;
}

.rv-xy-plot__circular-grid-lines__line {
  fill-opacity: 0;
  stroke: #e6e6e9;
}

.rv-xy-plot__series,
.rv-xy-plot__series path {
  pointer-events: all;
}

.rv-xy-plot__series--line {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.rv-crosshair {
  position: absolute;
  font-size: 11px;
  pointer-events: none;
}

.rv-crosshair__line {
  background: #0A0023;
  width: 1.5px;
}

.rv-crosshair__inner {
  position: absolute;
  text-align: left;
  top: 0;
}

.rv-crosshair__inner__content {
  border-radius: 4px;
  background: white;
  color: #0A0023;
  font-size: 12px;
  padding: 7px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.rv-crosshair__inner--left {
  right: 4px;
}

.rv-crosshair__inner--right {
  left: 4px;
}

.rv-crosshair__title {
  font-weight: bold;
  white-space: nowrap;
}

.rv-crosshair__item {
  white-space: nowrap;
}
