*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background-color: #fcfcfc;
  overflow-x: hidden;
}

button:focus {
  outline: 0;
}

/*
#FC0F45
#1F34FB
#1923FA
#2BEEA3
#0A0123
#0A0023
#241C3A
#302942
*/
